oven
ovend
ovene
oveng
ovenp
ovenb
ovenp
ovenr
oven_shm
odisp/odisp
odisp/odisp_helper
odisp/database
odisp/zzz
odisp/zzz.c
makemenus
*.o
database
database_BAD
database_GOOD
databasc
databasc_BAD
databasc_GOOD
menust/*.tc
mkpkg
z
zz
zzz
OLD
*.swp
ovenz
errors.log
