oven
ovend
ovene
oveng
ovenp
ovenb
ovenp
ovenr
oven_shm
odisp/odisp_helper
odisp/database
odisp/zzz
odisp/zzz.c
odisp/*.fits
odisp/databasc_*
makemenus
*.o
database
database_BAD
database_GOOD
databasc
databasc_BAD
databasc_GOOD
databasc_*
menust/*.tc
mkpkg
z
zz
zzz
OLD
*.swp
ovenz
errors.log
Auto
tags
starter
libncurses_ORIG.a
